body {
  background-color: #000;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.header {
  background-image: linear-gradient(to right, #ff6b6b, #ff3838);
  padding: 20px;
  margin-top: 0.6%;
  text-align: center;
  width: 30%;
  margin-right: 35%;
  margin-left: 33.5%;
}

.header h1 {
  font-size: 36px;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.apps-section {
  text-align: center;
  margin-top: 50px;
}

.apps-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.app {
  width: calc(25% - 15%); /* Adjust the width as needed */
  padding: 20px;
  height:75%;;
  border: 2px solid #ff6b6b;
  border-radius: 10px;
  background-color: rgba(255, 107, 107, 0.2);
  margin-bottom: 5px;
}

.app img {
  width: 70%;
  max-height: 70%; /* Adjust the height as needed */
  object-fit: cover;
  border-radius: 15%;
}


.app h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ff6b6b;
}

.app .launch-button {
  background-color: #ff6b6b;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.app .launch-button:hover {
  background-color: #ff3d3d;
}

.app:hover {
  background-color: #ff3d3d;
  cursor: pointer;
}

.app:hover h3,
.app:hover .launch-button {
  color: #fff;
}

.navbar {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: flex-end; /* Align navbar to the right */
  position: fixed;
  top: 0;
  right: 0; /* Position navbar on the right side */
  width: fit-content;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-left: -14%;
  padding-left: 7.75%;
  padding-right: 7.75%;
}

.navbar-links li a {
  color: #fff;
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.navbar-links li a:hover {
  color: #ff6b6b;
}
